title: "LocalStorage - How to use and understand it's magic"
url: "https://eliclay1.github.io"
baseurl: "/LocalStorage-Blog-Post"

remote_theme: sujaykundu777/devlopr-jekyll
dark_mode: true

markdown: kramdown
permalink: pretty

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-remote-theme
